.card__title {
  @include heading-large($font-size: 1.3rem);
  @include no-bottom;

  &-link {
    @include link;
  }
}

.card__subtitle {
  @include heading-medium($font-size: 1rem);
  @include no-bottom;

  color: $gray;
}

.card__body {
  margin: 0.7em 0 1em;
}

.card__copy {
  padding: 0 1rem 1rem 1rem;
}

.card__link {
  @include link;
}

.card__button {
  @include button;
}

// Variations
.card--bg {
  background-color: $gray-lighter;
  padding: 1em;
}

.card--center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;

  img {
    margin: auto;
  }
}
